

<a class="a-link-normal" title="4.0 out of 5 stars" href="#">
    <i data-hook="review-star-rating" class="a-icon a-icon-star a-star-4 review-rating">
        <span class="a-icon-alt">4.0 out of 5 stars</span>
    </i>
</a>



@code {
    //TODO NOT YET IMPLEMENTED
    [Parameter]
    //Rating out of 5
    public int? Rating { get; set; }

}
