.a-icon.a-star-5 {
    background-position: -166px -36px
}

.a-icon.a-star-4 {
    background-position: -84px -8px
}

.a-icon.a-star-3 {
    background-position: -84px -48px
}

.a-icon.a-star-2 {
    background-position: -181px -76px
}

.a-icon.a-star-1 {
    background-position: -375px -144px
}

.a-icon.a-star-0 {
    background-position: -278px -100px
}

.a-icon.a-star-4-5 {
    background-position: -84px -28px
}

.a-icon.a-star-3-5 {
    background-position: -181px -56px
}

.a-icon.a-star-2-5 {
    background-position: -99px -68px
}

.a-icon.a-star-1-5 {
    background-position: -390px -164px
}

.a-icon.a-star-0-5 {
    background-position: -278px -120px
}
