@page "/about"
@inject NavigationManager Navigation


<PageTitle>About</PageTitle>


<p>There are more chips available today to the engineer then there ever was in history.</p>
<p>Finding the one that not only meets the spec but also works well is not an easy task.</p>
<p>The safe way is to find a good chip and stick to it, ensuring a decrease in design failure and a decrease product competitiveness.</p>
<p>It is with these challenges in mind that ChipReview was created.</p>
<p>This is a non-profit project to review and rate semiconductor chips.</p>
<p>It's main purpose is to help engineers buy better chips.Benefit from the mistakes of others and help others with your experience.</p>
<p>Write a review about a chip you love or hate!</p>


@code {

}