@page "/find"
@inject NavigationManager Navigation


<PageTitle>Find a chip</PageTitle>


<label for="vendor">Vendor/Manufacturer:</label>
<input @bind="Vendor" id="vendor" type="text"><br><br>
<label for="chip">Chip:</label>
<input @bind="Chip" id="chip" type="text"><br><br>
<button class="btn btn-danger" @onclick="FindChip">Find</button>


@code {
    //VARIABLES
    public string? Vendor { get; set; }
    public string? Chip { get; set; }



    //sends user to chip's page
    private async void FindChip()
    {
        Navigation.NavigateTo($"/{Vendor}/{Chip}");

    }

}