@page "/"

<PageTitle>Home</PageTitle>

<h1>Reviews of Integrated Circuits (or "Chips")</h1>

Every chip is unique.
Some are good (well designed, easy to implent) and some are bad (poor documentation)
Read what others have to say before investing in ICs. 

Got experince working with a chip? Share it with other engineers. 

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
