@page "/review/{vendor}/{chip}"
@inject HttpClient Http


<PageTitle>@chip Review</PageTitle>

<p>Chip : @chip</p>
<p>Vednor : @vendor</p>


@if (message == null){
    <p>Loading...</p>
}
else {
    <p>@message</p>
}


@code {
    [Parameter]
    public string? vendor { get; set; }
    [Parameter]
    public string? chip { get; set; }
}


@functions {
    string message;

    protected override async Task OnInitializedAsync()
    {
        message = await Http.GetStringAsync("https://api.chipreview.tk/api/GetReview");
       
    }
}
