@page "/{vendor}/{chip}"
@using BlazorApp.Client.Components
@using BlazorApp.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc
@attribute [AllowAnonymous]
@inject HttpClient Http


<PageTitle>@chip | Review</PageTitle>



<div style="display:grid">

    <ChipInfoBox Chip=@chip Vendor=@vendor/>


    <hr />


    <h2 class="pb-2 border-bottom">
        Reviews 
        <a href="review-editor/@vendor/@chip" class="btn btn-primary">
            Write a review
        </a>
    </h2>

    <div id="review-list">

        @if (reviewCount == 0)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var review in reviewList)
            {
                <ReviewBox Review=review/>
            }
        }

    </div>
</div>







@code {
    [Parameter]
    public string? vendor { get; set; }
    [Parameter]
    public string? chip { get; set; }

    List<BlazorApp.Shared.Review> reviewList;
    int reviewCount = 0;


    protected override async Task OnInitializedAsync()
    {

        //get a list of reviews from API server by chip & vendor
        reviewList = await ServerManager.GetReviewList(chip, vendor);

        //set the review count
        reviewCount = reviewList.Count;

    }

    /// <summary>
    /// Sends user to review editor page
    /// </summary>
    //private IActionResult WriteReview() => new RedirectToPageResult($"/review-editor/{vendor}/{chip}");

}

