@page "/{vendor}/{chip}"
@using BlazorApp.Shared
@inject HttpClient Http


<PageTitle>@chip | Review</PageTitle>

<div id="pdpLeftColumn1" class="col-xs-7">

    <div id="pdpProdInfo" class="panel panel-default">
        <div class="panel-heading pdp-product-card-header">
            <h1 class="panel-title">
                ATWILC3000A-MU-T042
            </h1>
        </div>
        <div class="panel-body pdp-product-card">
            <div class="row">

                <div class="col-xs-4 pdp-left-imgs">
                    <div class="pdp-mfr-image">
                        <img src="/images/vendors/microchip.webp" alt="Microchip Technology Logo">
                    </div>

                    <div id="gallery" class="gallery margin-top">
                        <div id="image_container" class="image-container text-center">
                            <a id="imglink" class="img-link" href="javascript:void('0');">
                                <img src="/images/chips/ITP_579-ATWILC3AMUT042_t.webp" class="default-img mag-icon" itemprop="image" alt="Microchip Technology ATWILC3000A-MU-T042">
                            </a><div><a href="javascript:void('0');" class="more-images" id="lnkMoreImgsEnlarge"></a></div>
                            <div id="hiddenenlargetext" class="margin-top text-left hidden">
                                Enlarge
                            </div>
                        </div>
                    </div>
                </div>


                <div id="product-desc" class="col-xs-8 bs-vert-line-sm-up pdp-card-desc">
                    <span class="hidden-xs hidden-sm hidden-md hidden-lg full-underline"></span>

                    <div class="row bs-border-top">
                        <h2 class="pdp-product-card-h2">
                            <div class="col-xs-4">
                                <label for="ManufacturerPartNumber">Mfr. No:</label>
                            </div>
                            <div class="col-xs-8">
                                <div>
                                    <span id="spnManufacturerPartNumber">
                                        ATWILC3000A-MU-T042
                                    </span>
                                    <input id="ManufacturerPartNumber" name="ManufacturerPartNumber" type="hidden" value="ATWILC3000A-MU-T042">
                                </div>

                            </div>
                        </h2>
                    </div>


                    <div class="row bs-border-top">
                        <h2 class="pdp-product-card-h2">
                            <div class="col-xs-4">

                                <span class="lblMfrInfo">Mfr.:</span>
                            </div>
                            <div class="col-xs-8" itemprop="manufacturer" itemscope="" itemtype="http://schema.org/Organization">
                                <a id="lnkManufacturerName" itemprop="url" href="/manufacturer/microchip/">
                                    Microchip Technology
                                </a>
                            </div>
                        </h2>
                        <span class="hidden" itemprop="name">Microchip Technology</span>
                    </div>

                    <div class="row bs-border-top">
                        <h2 class="pdp-product-card-h2">
                            <div class="col-xs-4">
                                <span class="lblMfrInfo">Description:</span>

                            </div>
                            <div class="col-xs-8">
                                <div>
                                    <span id="spnDescription">
                                        RF Transceiver ATWILC3000 802.11 b/g/n + Bluetooth 5 IC
                                    </span>
                                </div>
                            </div>
                        </h2>
                    </div>


                    <div class="row bs-border-top">
                        <div class="pdp-product-datasheets">
                            <h2 class="pdp-product-card-h2">
                                <div class="col-xs-4">
                                    <span class="bold-label">Datasheet:</span>
                                </div>

                                <div class="col-xs-8">

                                    <div>
                                        <a id="pdp-datasheet_0" href="https://my.mouser.com/datasheet/2/268/ATWILC3000A_Single_Chip_IEEE_802_11_b_g_n_Link_Con-2400492.pdf" aria-label="ATWILC3000A-MU-T042 Datasheet (PDF) - Opens in a new window" target="_blank" onclick="ga('send','event',{'eventCategory': 'Datasheet Download','eventAction': 'Microchip','eventLabel': '579-ATWILC3AMUT042 | ATWILC3000A-MU-T042'});">
                                            <i class="fa fa-lg fa-external-link-square" aria-hidden="true"></i>
                                            ATWILC3000A-MU-T042 Datasheet (PDF)
                                        </a>
                                    </div>
                                </div>
                            </h2>
                        </div>
                    </div>
                    <div class="row bs-border-top hidden-for-punchout">
                        <h2 class="pdp-product-card-h2">
                            <div class="col-xs-4">
                                <span class="lblMfrInfo">More Information</span>
                            </div>
                            <div class="col-xs-8">
                                <a id="lnkLearnMore" href="/new/microchip/microchip-atwilc3000-wifi-modules/">
                                    Learn more about Microchip Technology ATWILC3000A-MU-T042
                                </a>
                            </div>
                        </h2>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div id="pdpBanManZone">
    </div>
</div>


<hr />



<p>@reviewCount Reviews</p>

<div id="review-list">

    <div id="R1LVTGMDZ3U8ZC" data-hook="review" class="a-section review aok-relative">
        <div id="R1LVTGMDZ3U8ZC-review-card" class="a-row a-spacing-none">
            <div id="customer_review-R1LVTGMDZ3U8ZC" class="a-section celwidget" data-csa-c-id="gmncai-5cvxl2-n38tmy-pcon9l" data-cel-widget="customer_review-R1LVTGMDZ3U8ZC">
                <div data-hook="genome-widget" class="a-row a-spacing-mini"><a href="#" class="a-profile" data-a-size="small"><div aria-hidden="true" class="a-profile-avatar-wrapper"><div class="a-profile-avatar"><img id="avatar-img" src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/e3f21781-ba90-4e69-816f-bb865a4abed5._CR62,0,375,375_SX48_.jpg" class="" data-src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/e3f21781-ba90-4e69-816f-bb865a4abed5._CR62,0,375,375_SX48_.jpg"><noscript><img src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/e3f21781-ba90-4e69-816f-bb865a4abed5._CR62,0,375,375_SX48_.jpg" /></noscript></div></div><div class="a-profile-content"><span class="a-profile-name">John Guzman</span></div></a></div><div class="a-row">
                    <a class="a-link-normal" title="4.0 out of 5 stars" href="#"><i data-hook="review-star-rating" class="a-icon a-icon-star a-star-4 review-rating"><span class="a-icon-alt">4.0 out of 5 stars</span></i></a><span class="a-letter-space"></span><a data-hook="review-title" class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" href="/gp/customer-reviews/R1LVTGMDZ3U8ZC/ref=cm_cr_dp_d_rvw_ttl?ie=UTF8&amp;ASIN=B086G1J6CN">

                        <span>I love this thing!</span>

                    </a>
                </div><span data-hook="review-date" class="a-size-base a-color-secondary review-date">Reviewed in the United States on December 9, 2020</span><div class="a-row a-spacing-mini review-data review-format-strip"><span data-hook="avp-badge-linkless" class="a-size-mini a-color-state a-text-bold">Verified Purchase</span></div><div class="a-row a-spacing-small review-data">
                    <span data-hook="review-body" class="a-size-base review-text">
                        <div data-a-expander-name="review_text_read_more" data-a-expander-collapsed-height="300" class="a-expander-collapsed-height a-row a-expander-container a-expander-partial-collapse-container" style="max-height:300px">
                            <div data-hook="review-collapsed" aria-expanded="false" class="a-expander-content reviewText review-text-content a-expander-partial-collapse-content">

                                <span>
                                    I'm from Colombia and I bought the international edition. I found it very useful and I'm absolutely amazed with the AI and voice recognition capabilities. The sound is really good and my kids love to interact with Alexa.<br>Great buy, definetely worth it!
                                </span>

                            </div><div class="a-expander-header a-expander-partial-collapse-header" style="opacity: 0; display: none;"><div class="a-expander-content-fade"></div><a href="javascript:void(0)" data-csa-c-func-deps="aui-da-a-expander-toggle" data-csa-c-type="widget" data-csa-interaction-events="click" data-hook="expand-collapse-read-more-less" aria-label="Toggle full review text" aria-expanded="false" role="button" data-action="a-expander-toggle" class="a-declarative" data-a-expander-toggle="{&quot;allowLinkDefault&quot;:true, &quot;expand_prompt&quot;:&quot;Read more&quot;, &quot;collapse_prompt&quot;:&quot;Read less&quot;}" data-csa-c-id="3e03in-jxie5e-yk3j4g-9zjikw"><i class="a-icon a-icon-extender-expand"></i><span class="a-expander-prompt">Read more</span></a></div>
                        </div>
                    </span>
                </div><div data-hook="review-comments" class="a-row review-comments cr-vote-action-bar">
                    <span class="cr-vote" data-hook="review-voting-widget">
                        <div class="a-row a-spacing-small"><span data-hook="helpful-vote-statement" class="a-size-base a-color-tertiary cr-vote-text">17 people found this helpful</span></div><div class="cr-helpful-button aok-float-left">
                            <span class="a-button a-button-base" id="a-autoid-33">
                                <span class="a-button-inner">
                                    <a href="https://www.amazon.com/ap/signin?openid.return_to=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB086G1J6CN%2Fref%3Dcm_cr_dp_d_vote_lft%3Fie%3DUTF8%26csrfT%3DgpwkU4fBSmrNuPp4pIBZo%252FmDft%252Fch6b7E2qlXYAAAAABAAAAAGGV51VyYXcAAAAA%252B4kUEk%252F7iMGR3xPcX6iU%26reviewId%3DR1LVTGMDZ3U8ZC%23R1LVTGMDZ3U8ZC&amp;openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.assoc_handle=usflex&amp;openid.mode=checkid_setup&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0" data-hook="vote-helpful-button" class="a-button-text" id="a-autoid-33-announce">
                                        <div class="cr-helpful-text">
                                            Helpful
                                        </div>
                                    </a>
                                </span>
                            </span>
                        </div>
                    </span><span class="cr-footer-line-height">
                        <span><i class="a-icon a-icon-text-separator" role="img" aria-label="|"></i><span class="a-declarative" data-action="cr-popup" data-csa-c-type="widget" data-csa-c-func-deps="aui-da-cr-popup" data-cr-popup="{&quot;width&quot;:&quot;580&quot;,&quot;title&quot;:&quot;ReportAbuse&quot;,&quot;url&quot;:&quot;/hz/reviews-render/report-review?ie=UTF8&amp;ref=cm_cr_dp_d_report&amp;csrfT=gpwkU4fBSmrNuPp4pIBZo%2FmDft%2Fch6b7E2qlXYAAAAABAAAAAGGV51VyYXcAAAAA%2B4kUEk%2F7iMGR3xPcX6iU&amp;reviewId=R1LVTGMDZ3U8ZC&quot;,&quot;height&quot;:&quot;380&quot;}" data-csa-c-id="3quogs-6gx99-6d29xm-6xedpe"><a class="a-size-base a-link-normal a-color-secondary report-abuse-link a-text-normal" href="/hz/reviews-render/report-review?ie=UTF8&amp;ref=cm_cr_dp_d_report&amp;csrfT=gpwkU4fBSmrNuPp4pIBZo%2FmDft%2Fch6b7E2qlXYAAAAABAAAAAGGV51VyYXcAAAAA%2B4kUEk%2F7iMGR3xPcX6iU&amp;reviewId=R1LVTGMDZ3U8ZC">Report abuse</a></span></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>





@code {
    [Parameter]
    public string? vendor { get; set; }
    [Parameter]
    public string? chip { get; set; }
}


@functions {
    List<BlazorApp.Shared.Review> reviewList;
    int reviewCount = 0;

    protected override async Task OnInitializedAsync()
    {

        //get a list of reviews from API server by chip & vendor
        reviewList = await ServerManager.GetReviewList(chip, vendor);

        //set the review count
        reviewCount = reviewList.Count;

    }
}
