@page "/review"
@inject HttpClient Http

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<PageTitle>@chip Review</PageTitle>

<p>Chip : @chip</p>
<p>Vednor : @vendor</p>


@if (message == null){
    <p>Loading...</p>
}
else {
    <p>@message</p>
}

@functions {
    string message, chip, vendor;

    protected override async Task OnInitializedAsync()
    {
        message = await Http.GetStringAsync("https://chipreviewapi.azurewebsites.net/api/GetReview");
        vendor = HttpContextAccessor.HttpContext.Request.Query["vendor"][0];
        chip = HttpContextAccessor.HttpContext.Request.Query["chip"][0];
    }
}