

    <div id="R1LVTGMDZ3U8ZC" data-hook="review" class="a-section review aok-relative">
        <div id="R1LVTGMDZ3U8ZC-review-card" class="a-row a-spacing-none">
            <div id="customer_review-R1LVTGMDZ3U8ZC" class="a-section celwidget" data-csa-c-id="gmncai-5cvxl2-n38tmy-pcon9l" data-cel-widget="customer_review-R1LVTGMDZ3U8ZC">
            <div data-hook="genome-widget" class="a-row a-spacing-mini">
                <a href="#" class="a-profile" data-a-size="small"><div aria-hidden="true" class="a-profile-avatar-wrapper"><div class="a-profile-avatar"><img id="avatar-img" src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/e3f21781-ba90-4e69-816f-bb865a4abed5._CR62,0,375,375_SX48_.jpg" class="" data-src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/e3f21781-ba90-4e69-816f-bb865a4abed5._CR62,0,375,375_SX48_.jpg"><noscript><img src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/e3f21781-ba90-4e69-816f-bb865a4abed5._CR62,0,375,375_SX48_.jpg" /></noscript></div></div><div class="a-profile-content"><span class="a-profile-name">@Review.Username</span></div></a>
            </div><div class="a-row">
                <BlazorApp.Client.view_pieces.RatingStars Rating=@Review.Rating/>
                <span class="a-letter-space">

                </span><a data-hook="review-title" class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" href="/gp/customer-reviews/R1LVTGMDZ3U8ZC/ref=cm_cr_dp_d_rvw_ttl?ie=UTF8&amp;ASIN=B086G1J6CN">

                    <span>@Review.Title</span>

                </a>
            </div><span data-hook="review-date" class="a-size-base a-color-secondary review-date">@Review.Time</span><div class="a-row a-spacing-mini review-data review-format-strip"><span data-hook="avp-badge-linkless" class="a-size-mini a-color-state a-text-bold">Verified Purchase</span></div><div class="a-row a-spacing-small review-data">
                <span data-hook="review-body" class="a-size-base review-text">
                        <div data-a-expander-name="review_text_read_more" data-a-expander-collapsed-height="300" class="a-expander-collapsed-height a-row a-expander-container a-expander-partial-collapse-container" style="max-height:300px">
                            <div data-hook="review-collapsed" aria-expanded="false" class="a-expander-content reviewText review-text-content a-expander-partial-collapse-content">

                                <span>
                                    @Review.ReviewText
                                </span>

                            </div>
                            <div class="a-expander-header a-expander-partial-collapse-header" style="opacity: 0; display: none;">
                                <div class="a-expander-content-fade"></div>
                                <a href="javascript:void(0)" data-csa-c-func-deps="aui-da-a-expander-toggle" data-csa-c-type="widget" data-csa-interaction-events="click" data-hook="expand-collapse-read-more-less" aria-label="Toggle full review text" aria-expanded="false" role="button" data-action="a-expander-toggle" class="a-declarative" data-a-expander-toggle="{&quot;allowLinkDefault&quot;:true, &quot;expand_prompt&quot;:&quot;Read more&quot;, &quot;collapse_prompt&quot;:&quot;Read less&quot;}" data-csa-c-id="3e03in-jxie5e-yk3j4g-9zjikw"><i class="a-icon a-icon-extender-expand"></i><span class="a-expander-prompt">Read more</span></a></div>
                        </div>
                    </span>
                </div><div data-hook="review-comments" class="a-row review-comments cr-vote-action-bar">
                    <span class="cr-vote" data-hook="review-voting-widget">
                        <div class="a-row a-spacing-small"><span data-hook="helpful-vote-statement" class="a-size-base a-color-tertiary cr-vote-text">17 people found this helpful</span></div><div class="cr-helpful-button aok-float-left">
                            <span class="a-button a-button-base" id="a-autoid-33">
                                <span class="a-button-inner">
                                    <a href="#" data-hook="vote-helpful-button" class="a-button-text" id="a-autoid-33-announce">
                                        <div class="cr-helpful-text">
                                            Helpful
                                        </div>
                                    </a>
                                </span>
                            </span>
                        </div>
                    </span><span class="cr-footer-line-height">
                        <span><i class="a-icon a-icon-text-separator" role="img" aria-label="|"></i><span class="a-declarative" data-action="cr-popup" data-csa-c-type="widget" data-csa-c-func-deps="aui-da-cr-popup" data-cr-popup="{&quot;width&quot;:&quot;580&quot;,&quot;title&quot;:&quot;ReportAbuse&quot;,&quot;url&quot;:&quot;/hz/reviews-render/report-review?ie=UTF8&amp;ref=cm_cr_dp_d_report&amp;csrfT=gpwkU4fBSmrNuPp4pIBZo%2FmDft%2Fch6b7E2qlXYAAAAABAAAAAGGV51VyYXcAAAAA%2B4kUEk%2F7iMGR3xPcX6iU&amp;reviewId=R1LVTGMDZ3U8ZC&quot;,&quot;height&quot;:&quot;380&quot;}" data-csa-c-id="3quogs-6gx99-6d29xm-6xedpe"><a class="a-size-base a-link-normal a-color-secondary report-abuse-link a-text-normal" href="/hz/reviews-render/report-review?ie=UTF8&amp;ref=cm_cr_dp_d_report&amp;csrfT=gpwkU4fBSmrNuPp4pIBZo%2FmDft%2Fch6b7E2qlXYAAAAABAAAAAGGV51VyYXcAAAAA%2B4kUEk%2F7iMGR3xPcX6iU&amp;reviewId=R1LVTGMDZ3U8ZC">Report abuse</a></span></span>
                    </span>
                </div>
            </div>
        </div>
    </div>



@code {

    [Parameter]
    public BlazorApp.Shared.Review Review { get; set; }


}
