@page "/review"
@inject HttpClient Http

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<span>@HttpContextAccessor.HttpContext.Request.Query["MyParam"][0]</span>


<PageTitle>CC1101 Review</PageTitle>

<h1>CC1101 Review</h1>




@if (message == null){
    <p>Loading...</p>
}
else {
    <p>@message</p>
}

@functions {
    string message;

    protected override async Task OnInitializedAsync()
    {
        message = await Http.GetStringAsync("https://chipreviewapi.azurewebsites.net/api/GetReview");
    }
}