@page "/{vendor}/{chip}"
@using BlazorApp.Client.Components
@using BlazorApp.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc
@attribute [AllowAnonymous]
@inject HttpClient _http;


<PageTitle>@Chip | Review</PageTitle>



<div style="display:grid">

    <ChipInfoBox Chip=@Chip Vendor=@Vendor/>


    <hr />


    <h2 class="pb-2 border-bottom">
        Reviews 
        <a href="review-editor/@Vendor/@Chip" class="btn btn-primary">
            Write a review
        </a>
    </h2>

    <div id="review-list"  style="margin-bottom: 100px;">

        @if (_reviewCount == 0)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <ReviewListBox ReviewList=_reviewList/>
        }
    </div>
</div>







@code {
    [Parameter]
    public string? Vendor { get; set; }
    [Parameter]
    public string? Chip { get; set; }

    List<BlazorApp.Shared.Review>? _reviewList;
    int _reviewCount = 0;


    protected override async Task OnInitializedAsync()
    {

        //get a list of reviews from API server by chip & vendor
        _reviewList = await ServerManager.GetReviewList(Chip, Vendor);

        //set the review count
        _reviewCount = _reviewList.Count;

    }

    /// <summary>
    /// Sends user to review editor page
    /// </summary>
    //private IActionResult WriteReview() => new RedirectToPageResult($"/review-editor/{vendor}/{chip}");

}

