

<div id="pdpLeftColumn1" class="col-xs-7">

    <div id="pdpProdInfo" class="panel panel-default">
        <div class="panel-heading pdp-product-card-header">
            <h1 class="panel-title">
                @Chip
            </h1>
        </div>
        <div class="panel-body pdp-product-card">
            <div class="row">

                <div class="col-xs-4 pdp-left-imgs">
                    <div class="pdp-mfr-image">
                        <img src="/images/vendors/microchip.webp" alt="Microchip Technology Logo">
                    </div>

                    <div id="gallery" class="gallery margin-top">
                        <div id="image_container" class="image-container text-center">
                            <a id="imglink" class="img-link">
                                <img src="/images/chips/ITP_579-ATWILC3AMUT042_t.webp" class="default-img mag-icon" itemprop="image" alt="Microchip Technology ATWILC3000A-MU-T042">
                            </a><div><a href="#" class="more-images" id="lnkMoreImgsEnlarge"></a></div>
                            <div id="hiddenenlargetext" class="margin-top text-left hidden">
                                Enlarge
                            </div>
                        </div>
                    </div>
                </div>


                <div id="product-desc" class="col-xs-8 bs-vert-line-sm-up pdp-card-desc">
                    <span class="hidden-xs hidden-sm hidden-md hidden-lg full-underline"></span>

                    <div class="row bs-border-top">
                        <h2 class="pdp-product-card-h2">
                            <div class="col-xs-4">
                                <label for="ManufacturerPartNumber">Mfr. No:</label>
                            </div>
                            <div class="col-xs-8">
                                <div>
                                    <span id="spnManufacturerPartNumber">
                                        ATWILC3000A-MU-T042
                                    </span>
                                    <input id="ManufacturerPartNumber" name="ManufacturerPartNumber" type="hidden" value="ATWILC3000A-MU-T042">
                                </div>

                            </div>
                        </h2>
                    </div>


                    <div class="row bs-border-top">
                        <h2 class="pdp-product-card-h2">
                            <div class="col-xs-4">

                                <span class="lblMfrInfo">Mfr.:</span>
                            </div>
                            <div class="col-xs-8" itemprop="manufacturer" itemscope="" itemtype="http://schema.org/Organization">
                                <a id="lnkManufacturerName" itemprop="url" href="/manufacturer/microchip/">
                                    Microchip Technology
                                </a>
                            </div>
                        </h2>
                        <span class="hidden" itemprop="name">Microchip Technology</span>
                    </div>

                    <div class="row bs-border-top">
                        <h2 class="pdp-product-card-h2">
                            <div class="col-xs-4">
                                <span class="lblMfrInfo">Description:</span>

                            </div>
                            <div class="col-xs-8">
                                <div>
                                    <span id="spnDescription">
                                        RF Transceiver ATWILC3000 802.11 b/g/n + Bluetooth 5 IC
                                    </span>
                                </div>
                            </div>
                        </h2>
                    </div>


                    <div class="row bs-border-top">
                        <div class="pdp-product-datasheets">
                            <h2 class="pdp-product-card-h2">
                                <div class="col-xs-4">
                                    <span class="bold-label">Datasheet:</span>
                                </div>

                                <div class="col-xs-8">

                                    <div>
                                        <a id="pdp-datasheet_0" href="https://my.mouser.com/datasheet/2/268/ATWILC3000A_Single_Chip_IEEE_802_11_b_g_n_Link_Con-2400492.pdf" aria-label="ATWILC3000A-MU-T042 Datasheet (PDF) - Opens in a new window" target="_blank" onclick="ga('send','event',{'eventCategory': 'Datasheet Download','eventAction': 'Microchip','eventLabel': '579-ATWILC3AMUT042 | ATWILC3000A-MU-T042'});">
                                            <i class="fa fa-lg fa-external-link-square" aria-hidden="true"></i>
                                            ATWILC3000A-MU-T042 Datasheet (PDF)
                                        </a>
                                    </div>
                                </div>
                            </h2>
                        </div>
                    </div>
                    <div class="row bs-border-top hidden-for-punchout">
                        <h2 class="pdp-product-card-h2">
                            <div class="col-xs-4">
                                <span class="lblMfrInfo">More Information</span>
                            </div>
                            <div class="col-xs-8">
                                <a id="lnkLearnMore" href="/new/microchip/microchip-atwilc3000-wifi-modules/">
                                    Learn more about Microchip Technology ATWILC3000A-MU-T042
                                </a>
                            </div>
                        </h2>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div id="pdpBanManZone">
    </div>
</div>





@code {
    [Parameter]
    public string Chip { get; set; }
    [Parameter]
    public string Vendor { get; set; }
}
